.sorted-list-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;
    flex-wrap: wrap;
}

.sorted-list-controls > .sort-order-button {
    margin: 0; 
}


