.sort-method {
    text-align: center;
    background-color: #595959;
    color: inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sort-method:hover {
    transition: background-color 0.2s ease;
    background-color: #333333;
}

.sort-method.active {
    background-color: #007bff;
    color: inherit;
}