.sort-order-button {
transition: background-color 0.2s ease;
    background-color: #007bff;
    color: inherit;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;

}

.sort-order-button:hover {
    transition: background-color 0.2s ease;
    background-color: #0056b3;
}