.randomized-games-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
    align-items: start;
    gap: 16px; 
    padding: 0;
    margin: 0; 
    list-style-type: none; 
    width: 100%;
}

.randomized-games-list:has(> :only-child) {
    display: flex;
    justify-content: center;
}

.randomized-games-list > :only-child {
    width: 100%;
    max-width: 400px;
}

.randomizer-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.randomizer-options div {
    display: flex;
    justify-content: center;

}

.randomizer-options label {
    font-size: 16px;
    color: #ccc;
    margin-right: 6px;
}

.randomize-btn {
    padding: 10px 20px;
    background-color: #2a475e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}