.achievement-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    overflow: hidden;
    background-color: #23262E;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 4px; 
}

.achievement-item:hover {
    background-color: #2c303a;
    transform: translateY(-2px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
}

.achievement-icon {
    width: 128px;
    height: 128px;
    margin-right: 16px;
}

.achievement-details {
    width: 100%;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}